<div class="sm:flex flex-col mt-12 lg:mt-24 max-w-6xl mx-auto px-8 xl:px-0 w-full mt-12">
  <div class="flex justify-center w-full"> 
    <h1 class="text text-base sm:text-lg xl:text-3xl text-white font-extrabold"> Trusted By Awesome <span class="text-yellow-500">Clients</span></h1>
  </div>
  <div class="my-12 grid grid-cols-3 lg:grid-cols-6 gap-4 justify-items-center text-white content-evenly">
    <div class="flex justify-between items-center">
      <%= inline_svg_tag('svg/binance_white.svg', class: "mr-4") %>
      <span class="inline font-bold text-lg">Binance</span>
    </div>
    <div class="flex justify-between items-center">
      <%= inline_svg_tag('svg/bitcoin_logo.svg', class: "mr-4") %>
      <span class="inline font-bold text-lg">Bitcoin</span>
    </div>
    <div class="flex justify-between items-center">
      <%= inline_svg_tag('svg/solana_sol_logo.svg', class: "mr-4") %>
      <span class="inline font-bold text-lg">Solana</span>
    </div>
    <div class="flex justify-between items-center">
      <%= inline_svg_tag('svg/ethereum.svg', class: "mr-4") %>
      <span class="inline font-bold text-lg">Etherium</span>
    </div>
    <div class="flex justify-between items-center">
      <%= inline_svg_tag('svg/tether_usdt_logo.svg', class: "mr-4") %>
      <span class="inline font-bold text-lg">Tether</span>
    </div>
    <div class="flex justify-between items-center">
      <%= inline_svg_tag('svg/xrp_logo.svg') %>
      <span class="inline font-bold text-lg">XRP</span>
    </div>
  </div>
</div>