<!DOCTYPE html>
<html>
  <head>
    <title>XyzBookstore</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header class="bg-[url('notice_bg.png')] flex justify-center py-2 text-white fixed top-0 w-full">
      <%= inline_svg_tag('svg/splash_notice.svg', class: "scale-x-[-1] mx-2") %>
      Save up to $500 per year on millions of book titles!
      <%= inline_svg_tag('svg/splash_notice.svg', class: "mx-2") %>
    </header>
    <main class="container mx-auto mt-28 px-5 flex w-full">
      <%= yield %>
    </main>
    <%= render partial: "layouts/footer" %>
  </body>
</html>
